* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #ffffff;
  height: 100%;
}

header .navbar .navbar-items .service-container .service-select {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 170%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* NAVBAR 
============================== */
header {
  width: 100%;
  height: 60px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 10px #27899f;
          box-shadow: 0px 0px 10px #27899f;
  padding: 0 2em;
}

@media screen and (max-width: 884px) {
  header {
    padding: 0em;
  }
}

header .navbar {
  width: 100%;
  height: 60px;
  max-width: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header .navbar .logo {
  width: 9rem;
  height: auto;
  position: relative;
  cursor: pointer;
  padding-top: 0;
  margin-top: 0;
}

header .navbar a {
  color: #e5e5e5;
  text-decoration: none;
}

header .navbar .navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-items li {
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
  font-size: 1.2rem;
}

header .navbar .navbar-items li a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding-bottom: 6px;
}

header .navbar .navbar-items li a:hover {
  color: #e5e5e5dc;
}

header .navbar .navbar-items li a:focus {
  border-bottom: 4px solid orangered;
}

header .navbar .navbar-items li i {
  color: #e5e5e5;
}

header .navbar .navbar-items .service-container {
  position: relative;
  cursor: pointer;
}

header .navbar .navbar-items .service-container:hover > .service-select {
  visibility: visible;
  opacity: 1;
}

header .navbar .navbar-items .service-container .service-select {
  width: 130px;
  border-top: 4px solid orangered;
}

header .navbar .navbar-items .service-container .service-select ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

header .navbar .navbar-items .service-container .service-select ul li {
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
  font-size: 1.1rem;
}

header .navbar .navbar-items .social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 2px solid #e5e5e5;
  padding-left: 10px;
}

header .navbar .navbar-items .social-items li {
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  -webkit-padding-end: 10px;
          padding-inline-end: 10px;
}

header .navbar .navbar-items .item-hamburger {
  display: none;
}

@media screen and (max-width: 884px) {
  header .navbar .navbar-items li {
    display: none;
  }
  header .navbar .navbar-items .item-hamburger {
    display: initial;
  }
}

header .navbar .mobile-container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 59px;
  display: none;
  background-color: #27899f;
  border-top: 4px solid orangered;
  font-size: 1.2rem;
  padding: 1em;
}

header .navbar .mobile-container .mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .navbar .mobile-container .mobile-nav .mobile-nav-items li {
  padding: 0.5em 0;
}

header .navbar .mobile-container .mobile-nav .mobile-nav-items .mobile-service-container {
  padding: 0.5em 0;
}

header .navbar .mobile-container .mobile-nav .mobile-nav-items .mobile-service-container .mobile-service-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .mobile-container .mobile-nav .mobile-nav-items .mobile-service-container .mobile-service-tag i {
  color: #e5e5e5;
}

header .navbar .mobile-container .mobile-nav .mobile-nav-items .mobile-service-container .mobile-service-select {
  display: none;
  padding-left: 1em;
}

header .navbar .mobile-container .mobile-nav .mobile-nav-items .mobile-service-container .mobile-service-select li {
  padding: 0.4em 0;
}

header .navbar .mobile-container .social-mob-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .mobile-container .social-mob-items li {
  padding: 0.5em 1em 0.5em 0;
}

@media screen and (max-width: 884px) {
  header .navbar .mobile-container {
    display: initial;
  }
}

/*    BANNER 
========================== */
.banner {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner .banner-background {
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.banner .banner-background img {
  width: 100%;
  height: 100vh;
}

.banner .banner-tag {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner .banner-tag h1 {
  width: 100%;
  color: #e5e5e5;
  font-size: 7vw;
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1500px) {
  .banner .banner-tag h1 {
    font-size: 7rem;
  }
}

@media screen and (max-width: 600px) {
  .banner .banner-tag h1 {
    font-size: 9vw;
  }
}

@media screen and (max-width: 480px) {
  .banner .banner-tag h1 {
    font-size: 11vw;
  }
}

.banner .banner-tag h1 span {
  padding: 0px;
  margin: 0px;
}

.banner .banner-tag h1 span:last-child {
  padding-left: 0.7em;
  margin-top: -2vw;
}
/*# sourceMappingURL=main.css.map */